@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: #0b0f1f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Header Start */
.span {
  font-size: 1.2em;
  opacity: rgba(255, 255, 255, 0.61);
}

.tittle {
  color: #a29cec;
  font-size: 3em;
}

header {
  position: relative;
  width: 70%;
  margin: auto;
  height: 100vh;
  justify-content: space-between;
  display: flex;
  /* Aside Left Start */
  /* Aside Left End */
  /* Aside Center Start */
  /* Aside Center End */
  /* Aside Right Start */
  /* Aside Right End */
}
@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 500px) {
  header {
    width: 100%;
  }
}
header .aside {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 900px) {
  header .aside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}
header .aside .aside__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 25%;
}
header .aside .aside__div img {
  background-color: #121524;
  border-radius: 0.3em;
  padding: 0.5em;
}
header .aside .aside__div img:hover {
  transform: rotate(20deg);
  transition: 0.5s;
  background-color: #a19cec94;
}
@media screen and (max-width: 900px) {
  header .aside .aside__div img {
    margin: 0.5em 1em;
  }
}
header .aside .aside__div hr {
  color: #a29cec;
  height: 4vh;
}
@media screen and (max-width: 900px) {
  header .aside .aside__div hr {
    display: none;
  }
}
header .aside .span__container {
  padding: 1em 0;
}
header .aside .span__container .aside__span {
  font-size: 1.2em;
}
@media screen and (max-width: 900px) {
  header .aside .icon__container {
    flex-direction: row;
  }
}
header .aside__center {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
header .aside__center .aside__center__container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .aside__center .aside__center__container .aside__center__btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media screen and (max-width: 550px) {
  header .aside__center .aside__center__container .aside__center__btn {
    flex-direction: column;
  }
}
header .aside__center .aside__center__container .aside__center__btn .btn {
  padding: 0.7em 1em;
  margin: 2em 1em;
  outline: 2px solid #a29cec;
  color: #a29cec;
  font-size: 1.2em;
  text-align: center;
  border-radius: 0.3em;
}
header .aside__center .aside__center__container .aside__center__btn .btn:hover {
  transition: 0.5s;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  box-shadow: 0 0 2em #a29cec;
}
@media screen and (max-width: 550px) {
  header .aside__center .aside__center__container .aside__center__btn .btn {
    margin: 0.5em 0;
  }
}
header .aside__center .aside__center__container .aside__center__btn .btn:hover {
  transition: 0.5s;
  color: #000;
  background-color: #a29cec;
}
header .aside__center .aside__center__container .aside__center__btn .btn__about {
  background-color: #a29cec;
  color: #000;
}
header .aside__center .aside__center__container img {
  width: 500px;
  height: 500px;
}
@media screen and (max-width: 900px) {
  header .aside__center .aside__center__container img {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 500px) {
  header .aside__center .aside__center__container img {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 900px) {
  header .aside__right {
    display: none;
  }
}
header .aside__right .aside__div img {
  height: 45px;
  width: 45px;
}
header .aside__right .aside__div .moon {
  background-color: transparent;
}
header .aside__right .aside__div .moon:hover {
  transform: rotate(360deg);
  background-color: transparent;
}
header .aside__right .icon__container {
  height: 11%;
}

/* Header End */
main {
  /* About Section Start */
  /* About Section End */
}
main .about__section {
  width: 70%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
main .about__section .about__container {
  text-align: center;
}
main .about__section .about__container .about__span {
  font-size: 1.2em;
  opacity: rgba(255, 255, 255, 0.61);
}
main .about__section .about__container .about__tittle {
  color: #a29cec;
  font-size: 3em;
  font-size: 2em;
}
main .about__section .about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70%;
}
main .about__section .about__content .img__container img {
  border-radius: 2em;
}
main .about__section .about__content .description__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 60%;
  margin: 0 5em;
}
main .about__section .about__content .description__container .card__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .about__section .about__content .description__container .card__container .card {
  background-color: #141b26;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  border-radius: 2em;
  width: 200px;
}
main .about__section .about__content .description__container .card__container .card img {
  margin: 0.5em 0;
  width: 30px;
  height: 30px;
}
main .about__section .about__content .description__container .card__container .card .card__span {
  margin: 0.5em 0;
  opacity: 0.6;
}
main .about__section .about__content .about__paragraph {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 1em 0;
  width: 90%;
}
main .about__section .about__content .about__paragraph .about__paragraph__text {
  opacity: 0.7;
  margin: 1em 0;
}
main .about__section .about__content .about__paragraph .btn {
  padding: 0.7em 1em;
  margin: 2em 1em;
  outline: 2px solid #a29cec;
  color: #a29cec;
  font-size: 1.2em;
  text-align: center;
  border-radius: 0.3em;
  color: #000;
  background-color: #a29cec;
}
main .about__section .about__content .about__paragraph .btn:hover {
  transition: 0.5s;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  box-shadow: 0 0 2em #a29cec;
}

/*# sourceMappingURL=style.css.map */
