@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0b0f1f;
}

.span {
  color: rgba(255, 255, 255, 0.733);
  font-family: "Poppins", sans-serif;
}

.tittle {
  color: #a29cec;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
@media screen and (max-width: 900px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
}
.container .header {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 8vh;
  /* NavBar */
  /* NavBar End */
}
.container .header .navbar {
  top: 0;
  position: sticky;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
}
.container .header .navbar .name {
  color: #a29cec;
  font-size: 1.2em;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .header .navbar .media {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 900px) {
  .container .header .navbar .media {
    flex-direction: row;
  }
}
@media screen and (max-width: 900px) {
  .container .header .navbar .media .mouse {
    display: none;
  }
}
.container .header .navbar .icon {
  height: 2.5em;
  padding: 0.5em;
  width: 2.5em;
  margin: 0.5em 0;
  background-color: #101621;
  border-radius: 5px;
}
.container .header .navbar .icon:hover {
  transition: 0.5s;
  transform: scale(1.02) rotate(40deg);
  -webkit-transform: scale(1.02) rotate(40deg);
  -o-transform: scale(1.02) rotate(40deg);
  -moz-transform: scale(1.02) rotate(40deg);
  -ms-transform: scale(1.02) rotate(40deg);
  box-shadow: 0 0 2em #a29cec;
  background-color: #a19cecd7;
}
@media screen and (max-width: 900px) {
  .container .header .navbar .icon {
    margin: 0 2em;
  }
}
.container .header .navbar .moon {
  background-color: transparent;
}
.container .header .navbar .moon:hover {
  box-shadow: none;
  transform: none;
}
@media screen and (max-width: 900px) {
  .container .header .navbar .moon {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
main .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 900px) {
  main .content {
    top: 20em;
    position: relative;
  }
}
main .content .content__tittle {
  font-size: 2.5em;
}
main .content h1 {
  font-size: 1.5em;
}
main .content .content__span {
  color: rgba(255, 255, 255, 0.733);
  font-family: "Poppins", sans-serif;
}
main .content .btn__container {
  display: flex;
}
main .content .btn__container a {
  padding: 0.7em 1em;
  margin: 2em 1em;
  outline: 2px solid #a29cec;
  color: #a29cec;
  font-size: 1.2em;
  text-align: center;
  border-radius: 0.3em;
}
main .content .btn__container a:hover {
  transition: 0.5s;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  box-shadow: 0 0 2em #a29cec;
}
@media screen and (max-width: 380px) {
  main .content .btn__container a {
    margin: 1em 0;
  }
}
main .content .btn__container .about {
  background-color: #a29cec;
  color: #000;
}
@media screen and (max-width: 380px) {
  main .content .btn__container {
    flex-direction: column;
  }
}
main .content img {
  height: 500px;
  width: 500px;
}
@media screen and (max-width: 520px) {
  main .content img {
    height: 280px;
    width: 280px;
  }
}

.container {
  position: relative;
  justify-content: center;
}
.container .menu {
  z-index: 1;
  height: 6vh;
  width: 15em;
  position: absolute;
  bottom: 1em;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  border-radius: 5em;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: #121627;
}
.container .menu .menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.container .menu .menu__list .menu__icon {
  height: 40px;
  width: 40px;
}
.container .menu .menu__list .menu__icon:hover {
  transition: 0.5s;
  box-shadow: 0 0 5em #a29cec;
}
.container .menu .menu__list:hover img:not(:hover) {
  filter: blur(2px);
}

.description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 400px) {
  .description {
    margin-top: 10em;
  }
}
.description .description__welcome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description .description__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  width: 100%;
}
@media screen and (max-width: 1230px) {
  .description .description__container {
    flex-direction: column;
  }
}
.description .description__container .description__container__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.description .description__container .description__container__img img {
  border-radius: 2em;
  filter: grayscale(100%);
  height: 450px;
  width: 450px;
}
@media screen and (max-width: 520px) {
  .description .description__container .description__container__img img {
    width: 250px;
    height: 250px;
  }
}
.description .description__container .description__container__content {
  position: relative;
  width: 100%;
  text-align: center;
  height: 60%;
}
@media screen and (max-width: 1230px) {
  .description .description__container .description__container__content {
    margin: 2em 0;
  }
}
.description .description__container .description__container__content .description__container__card {
  display: inline-block;
}
.description .description__container .description__container__content .description__container__card .description__card {
  background-color: #121627;
  height: 6em;
  width: 10em;
  border-radius: 2em;
  margin: 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1430px) {
  .description .description__container .description__container__content .description__container__card .description__card {
    margin: 0.5em;
  }
}
.description .description__container .description__container__content .description__container__card .description__card .card__span {
  color: rgba(255, 255, 255, 0.733);
  font-family: "Poppins", sans-serif;
}
.description .description__container .description__container__content .description__container__card .description__card .card__icon {
  height: 40px;
  width: 40px;
}
.description .description__container .description__container__content .description__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  margin: 1em auto;
  width: 70%;
  color: rgba(255, 255, 255, 0.733);
  font-family: "Poppins", sans-serif;
}
.description .description__container .description__container__content .description__text .btn {
  margin: 1em 0;
  padding: 0.7em 1em;
  margin: 2em 1em;
  outline: 2px solid #a29cec;
  color: #a29cec;
  font-size: 1.2em;
  text-align: center;
  border-radius: 0.3em;
}
.description .description__container .description__container__content .description__text .btn:hover {
  transition: 0.5s;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  box-shadow: 0 0 2em #a29cec;
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #cccc;
}
.experience .experience__welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
