@import 'base/prefix';
@import 'base/var';
@import 'base/extend';
html {
    scroll-behavior: smooth;
}
body {
    font-family: $font;
    color: map-get($color, txt);
    background: map-get($color, bg);
}
@import 'components/header';
@import 'components/main';