@import './var';
@mixin flex($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}
@mixin transform($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -o-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
}
@mixin btn {
    padding: .7em 1em;
    margin: 2em 1em;
    outline: 2px solid map-get($color, tittle);
    color: map-get($color, tittle);
    font-size: 1.2em;
    text-align: center;
    border-radius: .3em;
    &:hover {
        transition: .5s;
        @include transform(scale(1.020));
        box-shadow: 0 0 2em map-get($color, tittle);
}
}
@mixin icon($transform) {
    background-color: map-get($color, bg-icon);
    border-radius: .3em;
    padding: .5em;
    &:hover {
        transform: ($transform);
        -webkit-transform: ($transform);
        -o-transform: ($transform);
        -moz-transform: ($transform);
        -ms-transform: ($transform);
        transition: .5s;
        background-color: #a19cec94;
    }
}
@mixin container {
    width: 70%;
    margin: auto;
    height: 100vh;
}
@mixin span {
    font-size: 1.2em;
    opacity: map-get($color, opacity);
}
@mixin tittle {
    color: map-get($color, tittle);
    font-size: 3em;
}
@mixin asideBar {
    width: 10%;
    height: 100%;
    @include flex(space-between);
    flex-direction: column;
    text-align: center;
}
@mixin card {
    background-color: map-get($color, bg-card);
    @include flex(center);
    flex-direction: column;
    padding: 1em;
    border-radius: 2em;
}
