@import './var';
@mixin flex($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}
@mixin transform($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -o-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
}
@mixin btn {
    padding: .7em 1em;
    margin: 2em 1em;
    outline: 2px solid map-get($color, tx-purple);
    color: map-get($color, tx-purple);
    font-size: 1.2em;
    text-align: center;
    border-radius: .3em;
    &:hover {
        transition: .5s;
        @include transform(scale(1.020));
        box-shadow: 0 0 2em map-get($color, tx-purple);
}
}
@import './var';
@mixin container {
    width: 70%;
    height: 100%;
}
@mixin span {
    font-size: 1.2em;
    opacity: map-get($color, opacity);
}
@mixin tittle {
    color: map-get($color, tittle);
    font-size: 1.5em;
}